.navegacoes {
    background-color: #161616;
}
.busca {
    position: relative;
}
.search {
    background-color: #161616 !important;
    border: 1px solid #161616;
    color: white;
    appearance: none !important;
}
.search::placeholder {
    color: rgba(255, 255, 255, 0.55);
}

.search:focus {
    background-color: #242424;
    border: 1px solid #242424;
    color: white;
    outline: none;
    box-shadow: none;
    appearance: none !important;
}
.botao-busca {
    background-color: #161616;
    border-left: none;
    border: 1px solid #161616;
    color: rgba(255, 255, 255, 0.55);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.botao-busca:hover {
    color: #7f1619;
}
// Menu responsivo

.hamburger {
    color: rgba(255, 255, 255, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.shopp-cart {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #7f1619;
    color: #fff;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 50%;
    z-index: 999;
}
.hamburger-box {
    position: relative;
    width: 24px;
    height: 24px;
}

.hamburger-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.55);
    transition: transform 0.3s ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.55);
    transition: transform 0.3s ease;
}

.hamburger-inner::before {
    top: -8px;
}

.hamburger-inner::after {
    bottom: -8px;
}

.menu {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.menu li {
    margin: 8px 0;
}

.menu a {
    display: block;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
}

/* Media query para dispositivos menores */
@media screen and (max-width: 768px) {
    .hamburger {
        position: relative;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #161616;
        z-index: 999;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .menu.is-active {
        transform: translateX(0%);
    }
}

// Banner

.banner-principal {
    width: 100%;
    max-height: 500px;
    background-color: #161616;
}

.slick-dots li button {
    background-color: #242424;
    border-radius: 50%;
}
.slick-dots li.slick-active button {
    background-color: #7f1619; /* Substitua pela cor que desejar */
}
.whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}
.qualidade {
    max-height: 100px;
}
.promocoes {
    width: 100%;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.7) 33.27%,
            rgba(0, 0, 0, 0.8) 58.64%
        ),
        url("/img/promocoes.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
}

// carousel de promoções
.carousel {
    width: 100%;
    margin: 0 auto;
}

.promo-produto {
    background-color: #161616;
    color: rgba(255, 255, 255, 0.55);
    position: relative;
    text-align: center;
    margin: 0 10px;
    padding: 30px;
}

.promo-produto img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #242424;
}

.preco {
    font-size: 16px;
    font-weight: bold;
}
.favorito {
    position: absolute;
    height: 56px;
    width: 32px;
    background-color: #7f1619 !important;
    top: 0;
    right: 20px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart {
    background: transparent;
    border: none;
    color: #fff;
}
.heart:hover {
    background: transparent;
    color: #fff;
}
.heart:focus {
    background: transparent;
    outline: none;
    border: none !important;
}
.off {
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 0 5px 5px 0;
    background-color: #7f1619;
    color: #ccc;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}
.quantidade {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    outline: none;
}
.quantidade::-webkit-outer-spin-button,
.quantidade::-webkit-inner-spin-button {
    margin: 0;
}

.quantidade:focus {
    border-color: #7f1619;
}

.avaliacao {
    margin-top: 10px;
}
.avaliacao span {
    color: #f7d943 !important;
    font-size: 18px;
    margin-right: 5px;
}

.product-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
}

.product-card {
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    margin: 0 10px;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.3);
}

.product-card img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #161616;
}

.product-card button {
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.page-link {
    background-color: #161616;
    border: #7f1619 1px solid;
}
.page-link:hover {
    background-color: #161616;
    border: #7f1619 1px solid;
}
.page-link:focus {
    background-color: #161616;
    border: #7f1619 1px solid;
    color: #fff !important;
    box-shadow: none;
}
.active > .page-link {
    background-color: #7f1619 !important;
    border: 1px solid #7f1619 !important;
}

// Pagina de filtros
.produto {
    color: rgba(255, 255, 255, 0.55);
    position: relative;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.3);
}

.produto img {
    width: 100%;
    min-height: 150px;
    max-width: fit-content;
    margin-bottom: 10px;
    object-fit: contain;
}

.product-single {
    position: relative;
}
.product-single > .carousel-images {
    width: 100%;
}
.product-single > .carousel-images img {
    display: block;
    width: 100%;
    height: 400px;
}
.product-single > .carousel-thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.product-single > .carousel-thumbnails > .slick-slide {
    width: 100px;
    margin: 0 10px;
}
.product-single > .carousel-thumbnails > .slick-slide > img {
    width: 100%;
    height: auto;
}
.product-single > .carousel-thumbnails > .slick-active{
    margin: 0 10px;
}
.product-single > .carousel-thumbnails img {
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border: 2px solid #ddd;
    cursor: pointer;
}
.product-single > .carousel-thumbnails img.active {
    border-color: #333;
}
.product-single .carousel-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.product-single .carousel-buttons button {
    display: flex;
    align-items: center;
}

footer {
    background-color: #7f1619;
    padding: 20px;
    text-align: center;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.footer-links li {
    display: inline-block;
    margin-left: 10px;
}

.footer-links li:first-child {
    margin-left: 0;
}
.duvida {
    right: 5px;
}
.contatos-dropdown,
.login-dropdown,
.carrinho {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
}

.cart-items {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}
.dropdown-toggle::after {
    display: none;
}

.td-quantidade {
    width: 15%;
}
